input {
    border:none;
    width: 400px;
    border-bottom: 1px solid gray;
}   

.formRequestServer {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding:30px;
  }
  
  .full-width {
    width: 100%;
  }

.btn {
  width: 200px;
}

table {  
  font-family: arial, sans-serif;  
  border-collapse: collapse;  
  width: 100%;}
  
td, th { 
   border: 1px solid #dddddd;  
   text-align: left;  
   padding: 8px;
  }
  
tr:nth-child(even) {  
  background-color: #dddddd;
}

.cyber-button-small{
  width: 250px;
  height: 50px;
  margin: 10px;
}