.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

.mat-mdc-row .mat-mdc-cell {
border-bottom: 1px solid transparent;
border-top: 1px solid transparent;
cursor: pointer;
font-family: BlenderProBook !important;
}

.inpContact
{width: 600px;
  border-radius: 0px;
  border: none !important;
  background-color: transparent;
  border-bottom: #5e5e5e solid 1px !important;
  min-height: 50px;
  font-family: Oswald-Regular;
  font-size: 25px;
  color:#5e5e5e !important;
  transition-duration: .3s;
  font-family: BlenderProBook !important;
  text-align: center;
}

.inpContact::placeholder{
  color:#999999!important;
  transition-duration: .3s;
}

.inpContact:hover
{
  border-bottom: #5e5e5e  solid 1px !important;
}
.inpContact:focus
{
  border-radius: 0px;
  border: none !important;
  background: transparent;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: #000000 solid 1px !important;
  min-height: 50px;
  font-family: Oswald-Regular;
  font-size: 25px;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition-duration: 1s !important; 
}

.inpContact:hover::placeholder{
  color:grey !important;
}

.inpContact:focus::placeholder{
  color:#5e5e5e  !important;
}

:placeholder-shown { 
  text-align: center;
  font-family: BlenderProBook !important;
}

.dashbutton {
  background-color: transparent;
  border: none;
  border-bottom: transparent 1px solid;
  margin:15px;
  padding: 8px;
  font-weight: bold;
  font-size: medium;
}
.dashbutton:hover {
  border-bottom: #999999 1px solid;
}

tr:hover {
  background-color: #d7dedc;
}

table {  
  border-collapse: collapse;  
  width: 100%;
}

td > button{
  border:none;
  margin:5px;
  padding:10px;
  border-radius: 25px;
}

.dashbox { 
  width: 40%;
  height: 300px;
  border:none;
  border-radius: 5px;
  background-color: #d7dedc;
  margin: 50px;
}

.dashbox > .numbers { 
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;

  font-size: 10em;
  text-align: center;
  margin-top: 25%;
}